body {
    font-family: Arial, Helvetica, sans-serif;

    text-align: justify;
    background-color:MistyRose;
}
.menu {
    background-color: #d43c61;
    padding-top:3%;  
}

.botaomenu{
    margin-left:   4%;
}
#logo {
    border-radius:100%;
    height:190px;
    width:190px;	
    background-color:MistyRose;
    margin-left:6%;

}

#logo img{
    width:100%;
    margin-top:34%;
}
#barrapesquisa{
    float:right;
    padding-right:10%;
    padding-top:4%;
}
#barramenu {
    margin: 2%;
    padding: 2% ;
    border: 2px solid pink;
}

.rodape {
    margin-top:2%;
    background-color:#d43c61;
}
.roda {
    margin-top:2%;
    text-align:center;
    border-bottom:solid;
}
.final {
    margin-top:2%;
}
.redes {
    float:right;
    margin:2%;
}
.criadoras {
    text-align:center;
}
.avaliação {
    float:left;
    margin:2%;
}
.carrinho{
    width: 50%;
    margin-left: 10%;
}
.verProduto{
    text-align: center;
    border: 2px solid #d43c61;
    margin-left:  30%;
    margin-right: 80%;
    

}
#botaoCompra {
    border: 2px solid #d43c61;
    margin-bottom:  2%;

}
.meio{
    padding: 2%;

}
