body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
    text-align: justify;
    background-color:MistyRose;
}
#menu {
	background-image:url(./publico/imagem/fundomenu.jpg);
	padding-top:3%;
        
}
.botaomenu{
    margin: 2%;
}
#logo {
	border-radius:100%;
	height:190px;
	width:190px;	
	background-color:#d43c61;
	margin-left:6%;

}

#logo img{
    width:100%;
    margin-top:5%;
}
#barrapesquisa{
	float:right;
	padding-right:10%;
	padding-top:4%;
}
#barramenu {
	margin: 1%;
        padding: 2%;
        border: 2px solid #d43c61;
}

.rodape {
	margin-top:2%;
	background-color:#d43c61;
}
.roda {
	margin-top:2%;
	text-align:center;
	border-bottom:solid;
}
.final {
	margin-top:2%;
}
.redes {
	float:right;
	margin:2%;
}
.criadoras {
	text-align:center;
}
.avaliaÃ§Ã£o {
	float:left;
	margin:2%;
}

#total {
    background-color: white;
    float:right;
    width: 50%;
       
}
.carrinho{
    width: 50%;
}
.verProduto{
    text-align: center;
    border: 2px solid #d43c61;
    margin-left:  30%;
    margin-right: 30%;
    
}
#botaoCompra {
    border: 2px solid #d43c61;
    margin-bottom:  2%;

}
